<nav class="navbar navbar-expand-lg bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Api App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/passenger">passenger</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product">product List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/uspublic">Us Public </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/qoutes">Qoutes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/todo">To do</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/userdata">User data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/userinfo">User info</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>