<app-navbar></app-navbar>

<div class="container mt-4 ">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" >

                    <table class="table">
                        <thead>
                          <tr>
                            
                            <th scope="col">API</th>
                            <th scope="col">Description</th>
                            <th scope="col">Auth</th>
                            <th scope="col">Link</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let i of data.entries">
                            
                            <td>{{i.API}}</td>
                            <td>{{i.Description}}</td>
                            <td>{{i.Auth}}</td>
                            <td>{{i.Link}}</td>
                          </tr>
                         
                        </tbody>
                      </table>

                </div>
            </div>
        </div>
    </div>
</div>
