
<div class="container mt-4 ">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" >

                    <table class="table">
                        <thead>
                          <tr>
                            
                            <th scope="col">id</th>
                            <th scope="col">Nation</th>
                            <th scope="col">Id Year</th>
                            <th scope="col">Population</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let i of uspublic.data">
                            
                            <td>{{i.IDNation}}</td>
                            <td>{{i.Nation}}</td>
                            <td>{{i.IDYear}}</td>
                            <td>{{i.Population}}</td>
                          </tr>
                         
                        </tbody>
                      </table>

                </div>
            </div>
        </div>
    </div>
</div>
